.App-Header{
  background-color: rgb(41, 219, 201);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.App-Header li {
    display: inline-block;
    font-size: 20;
    padding: 5px;
}